# Log directories and files
Logs/
**/Logs/
**/logs/
**/relay_log/
**/relay_log*/
**/Backup/
**/RelayRunData/
**/SaveData/
**/Stat/
**/roleback/
**/rolevalue_log/
server1/itemexchange_setting/rolevalue_log/
server1/rolevalueladder_setting/rolevalue_log/
server1/dulieu/login/

# Log files
*.log
*.log_*
*.log.*
servershutdown_log
server1/gameserver.log
server1/data/gm/lockaccount.log
server1/data/gm/lockplayer.log

# Temp data files
server1/data/rankexp.tmp
server1/data/rankexp.txt
server1/data/rankphuhao.tmp
server1/data/rankphuhao.txt

# Config files
gateway/bishop.cfg
gateway/bishop.cfg*
gateway/bishop_livetime.dat
gateway/goddess.cfg
gateway/goddess.cfg*
gateway/s3relay/relay_config.ini
server1/servercf0.ini
server1/servercf0.ini*
server1/servercfg.ini
server1/servercfg.ini*

# Backup files
*.bak
*.bak_*
